<html lang="zh-hans"><head>
<title>修改 学生 | 研究生报名系统</title>
<link rel="stylesheet" type="text/css" href="/static/admin/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/forms.css">
<link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">

<style type="text/css">
:root #wrapper > div[style="padding:3px;"] > #pic,
:root #content > #right > .dose > .dosesingle,
:root #content > #center > .dose > .dosesingle,
:root .adsbox,
:root #header + #content > #left > #rlblock_left
{ display: none !important; }</style>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="/static/admin/jquery.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/core.js"></script>
<script type="text/javascript" src="/static/admin/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/core.js"></script>
<script type="text/javascript" src="/static/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/actions.js"></script>
<script type="text/javascript" src="/static/admin/urlify.js"></script>
<script type="text/javascript" src="/static/admin/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/xregexp.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
<script type="text/javascript">
    $(document).ready(function(){
    $("#id_zhengjian_type").find("option[value='"+'{{xinxi.zhengjian_type}}'+"']").attr("selected","");
    $("#id_xianyijunren").find("option[value='"+'{{xinxi.xianyijunren}}'+"']").attr("selected","");
    $("#id_minzu").find("option[value='"+'{{xinxi.minzu}}'+"']").attr("selected","");
    $("#id_sex").find("option[value='"+'{{xinxi.sex}}'+"']").attr("selected","");
    $("#id_hunyin").find("option[value='"+'{{xinxi.hunyin}}'+"']").attr("selected","");
    $("#id_zhengzhimianmao").find("option[value='"+'{{xinxi.zhengzhimianmao}}'+"']").attr("selected","");
    $("#id_laiyuan").find("option[value='"+'{{xinxi.laiyuan}}'+"']").attr("selected","");
    $("#id_graduation_school").find("option[value='"+'{{xinxi.graduation_school}}'+"']").attr("selected","");
    $("#id_graduation_zhuanye").find("option[value='"+'{{xinxi.graduation_zhuanye}}'+"']").attr("selected","");
    $("#id_baokao_type").find("option[value='"+'{{xinxi.baokao_type}}'+"']").attr("selected","");
    $("#id_departmentsName").find("option[value='"+'{{xinxi.departmentsName}}'+"']").attr("selected","");
    $("#id_professionalName").find("option[value='"+'{{xinxi.professionalName}}'+"']").attr("selected","");
    $("#id_researchDirection").find("option[value='"+'{{xinxi.researchDirection}}'+"']").attr("selected","");
    $("#id_examCourse").find("option[value='"+'{{xinxi.examCourse}}'+"']").attr("selected","");
    $("#id_examProvince").find("option[value='"+'{{xinxi.examProvince}}'+"']").attr("selected","");
    $("#id_examSchool").find("option[value='"+'{{xinxi.examSchool}}'+"']").attr("selected","");
    });
</script>
</head>


<body class=" app-bo model-student change-form" data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
   <!--  <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">研究生报名系统</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                欢迎，
                <strong>admin</strong>.
            
            
                
                    <a href="/">查看站点</a> /
                
                
                    
                    
                
                
                <a href="/admin/password_change/">修改密码</a> /
                
                <a href="/admin/logout/">注销</a>
            
        </div>
        
        
        
    </div> -->
    <!-- END Header -->
    
<!-- <div class="breadcrumbs">
<a href="/admin/">首页</a>
› <a href="/admin/bo/">Bo</a>
› <a href="/admin/bo/student/">学生</a>
› 方科
</div> -->

    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>修改 信息</h1>
        <div id="content-main">


  <ul class="object-tools">
    
    <li>
        
        <!-- <a href="/admin/bo/student/1/history/" class="historylink">历史</a> -->
    </li>
    
    
  </ul>


<form enctype="multipart/form-data" action="" method="post" id="student_form" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="g5cxPsOXj4tQiqU3c03KwX4QjiTabzAC5fugSJuIh5ctwkYtiGRq6kS33FVgJiEY">
<div>







  <fieldset class="module aligned ">
    
    
        <div class="form-row field-name form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_name">考生姓名:</label>
                        
                            <input type="text" name="name" value="{{xinxi.name}}" id="id_name" required="" maxlength="100" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-name_pinyin form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_name_pinyin">姓名拼音:</label>
                        
                            <input type="text" name="name_pinyin" value="{{xinxi.name_pinyin}}" id="id_name_pinyin" required="" maxlength="100" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-zhengjian_type">
            
            
                <div>
                    
                    
                        <label class="required" for="id_zhengjian_type">证件类型:</label>
                        
                            <select name="zhengjian_type" id="id_zhengjian_type">
                                <% String m = {{xinxi.zhengjian_type}}; %>
  <option value="1" >居民户口簿</option>

  <!-- <option value="0" >请选择证件类型</option> -->

  <option value="0" >第二代居民身份证</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-zhengjian_number form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_zhengjian_number">证件号码:</label>
                        
                            <input type="text" name="zhengjian_number" value="{{xinxi.zhengjian_number}}" id="id_zhengjian_number" required="" maxlength="300" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    <div class="form-row field-zhaopian form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_zhaopian">个人近期照片:</label>
                        
                            <p class="file-upload">目前: <a href="#">{{xinxi.zhaopian}}</a><br>
修改:
<input type="file" name="zhaopian" id="id_zhaopian" value=""></p>
                        
                    
                    
                </div>
            
        </div>
        <div class="form-row field-xianyijunren">
            
            
                <div>
                    
                    
                        <label class="required" for="id_xianyijunren">现役军人:</label>
                        
                            <select name="xianyijunren" id="id_xianyijunren">
  <option value="1">是</option>

  <option value="0">否</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-minzu">
            
            
                <div>
                    
                    
                        <label class="required" for="id_minzu">考生民族:</label>
                        
                            <select name="minzu" id="id_minzu">
  <option value="1">少数民族</option>

  <option value="0">汉族</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-sex">
            
            
                <div>
                    
                    
                        <label class="required" for="id_sex">考生性别:</label>
                        
                            <select name="sex" id="id_sex">
  <option value="1">女</option>

  <option value="0">男</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-hunyin">
            
            
                <div>
                    
                    
                        <label class="required" for="id_hunyin">婚姻状况:</label>
                        
                            <select name="hunyin" id="id_hunyin">
  <option value="0">已婚</option>

  <option value="1">未婚</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-zhengzhimianmao">
            
            
                <div>
                    
                    
                        <label class="required" for="id_zhengzhimianmao">政治面貌:</label>
                        
                            <select name="zhengzhimianmao" id="id_zhengzhimianmao">
  <option value="4">无党派人士</option>

  <option value="3">预备党员</option>

  <option value="2">党员</option>

  <option value="0">团员</option>

  <option value="1">群众</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-address form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_address">地址:</label>
                        
                            <input type="text" name="address" value="{{xinxi.address}}" id="id_address" required="" maxlength="500" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-postcode form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_postcode">邮政编码:</label>
                        
                            <input type="text" name="postcode" value="{{xinxi.postcode}}" id="id_postcode" required="" maxlength="300" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-fixphone form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_fixphone">固定电话:</label>
                        
                            <input type="text" name="fixphone" value="{{xinxi.fixphone}}" id="id_fixphone" required="" maxlength="300" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-telephone form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_telephone">移动电话:</label>
                        
                            <input type="text" name="telephone" value="{{xinxi.telephone}}" id="id_telephone" required="" maxlength="11" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-email form-group">
            
            
                <div>
                    
                    
                        <label for="id_email">电子信箱:</label>
                        
                            <input type="text" name="email" value="{{xinxi.email}}" id="id_email" maxlength="30" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-laiyuan">
            
            
                <div>
                    
                    
                        <label class="required" for="id_laiyuan">考生来源:</label>
                        
                            <select name="laiyuan" id="id_laiyuan">
  <option value="1">普通全日制往届本科毕业生</option>

  <option value="0">普通全日制应届本科毕业生</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-graduation_type">
            
            
                <div>
                    
                    
                        <label class="required" for="id_graduation_type">取得最后学历的学习形式:</label>
                        
                            <select name="graduation_type" id="id_graduation_type">
  <option value="0">普通全日制</option>

</select>
                        
                    
                    
                </div>
            
        </div>
            <div class="form-row field-graduation_time form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_graduation_time">获得最后学历的毕业年月:</label>
                        
                            <input type="text" name="graduation_time" value="{{xinxi.graduation_time | date:'Y-n-d'}}" size="10" required="" class="vDateField" id="id_graduation_time"><span class="datetimeshortcuts">&nbsp;<a href="#">今天</a>&nbsp;|&nbsp;<a href="#" id="calendarlink0"><span class="date-icon" title="选择一个日期"></span></a></span>
                        
                    
                    
                <!-- <br><span class="timezonewarning">注意：你比服务器时间超前 8 个小时。</span> -->
            </div>
            
        </div>
        <div class="form-row field-studentId form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_studentId">注册学号:</label>
                        
                            <input type="text" name="studentId" value="{{xinxi.studentId}}" id="id_studentId" required="" maxlength="300" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-graduation_school">
            
            
                <div>
                    
                    
                        <label class="required" for="id_graduation_school">毕业学校:</label>
                        
                            <select name="graduation_school" id="id_graduation_school">
  <option value="3">太原理工大学</option>

  <option value="5">山西师范大学</option>

  <option value="0">中北大学</option>

  <option value="6">太原大学</option>

  <option value="1">山西财经大学</option>

  <option value="2">山西大学</option>

  <option value="4">太原工业大学</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-graduation_zhuanye">
            
            
                <div>
                    
                    
                        <label class="required" for="id_graduation_zhuanye">毕业专业:</label>
                        
                            <select name="graduation_zhuanye" id="id_graduation_zhuanye">
  <option value="2">网络工程</option>

  <option value="4">物联网工程</option>

  <option value="5">国际经济与贸易</option>

  <option value="3">软件工程</option>

  <option value="1">计算机科学与技术</option>

  <option value="0">应用物理</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-baokao_type">
            
            
                <div>
                    
                    
                        <label class="required" for="id_baokao_type">报考类别:</label>
                        
                            <select name="baokao_type" id="id_baokao_type">
  <option value="1">定向就业</option>

  <option value="0">非定向就业</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-nativePlace form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_nativePlace">考生籍贯:</label>
                        
                            <input type="text" name="nativePlace" value="{{xinxi.nativePlace}}" id="id_nativePlace" required="" maxlength="300" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-registerLocation form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_registerLocation">户口所在地:</label>
                        
                            <input type="text" name="registerLocation" value="{{xinxi.registerLocation}}" id="id_registerLocation" required="" maxlength="300" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-registerLocationDetail form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_registerLocationDetail">户口所在地详细地址:</label>
                        
                            <input type="text" name="registerLocationDetail" value="{{xinxi.registerLocationDetail}}" id="id_registerLocationDetail" required="" maxlength="300" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-bornLocation form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_bornLocation">出生地省市:</label>
                        
                            <input type="text" name="bornLocation" value="{{xinxi.bornLocation}}" id="id_bornLocation" required="" maxlength="300" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-archivesLocation form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_archivesLocation">档案所在地:</label>
                        
                            <input type="text" name="archivesLocation" value="{{xinxi.archivesLocation}}" id="id_archivesLocation" required="" maxlength="300" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-archivesLocationZip form-group">
            
            
                <div>
                    
                    
                        <label class="required" for="id_archivesLocationZip">考生档案所在单位邮编:</label>
                        
                            <input type="text" name="archivesLocationZip" value="{{xinxi.archivesLocationZip}}" id="id_archivesLocationZip" required="" maxlength="300" class="vTextField">
                        
                    
                    
                </div>
            
        </div>
         <div class="form-row field-baokao_school">
            
            
                <div>
                    
                    
                        <label class="required" for="id_baokao_school">报考学校名称:</label>
                        
                            <select name="baokao_school" id="id_baokao_school">
  <option value="6">太原大学</option>

  <option value="0" selected="">中北大学</option>

  <option value="2">山西大学</option>

  <option value="4">太原工业大学</option>

  <option value="1">山西财经大学</option>

  <option value="3">太原理工大学</option>

  <option value="5">山西师范大学</option>

</select>
                        
                    
                    
                </div>
            
        </div>
        <div class="form-row field-departmentsName">
            
            
                <div>
                    
                    
                        <label class="required" for="id_departmentsName">报考院系的名称:</label>
                        
                            <select name="departmentsName" id="id_departmentsName">
  <option value="0">大数据学院</option>

  <option value="4">理学院</option>

  <option value="5">艺术学院</option>

  <option value="6">仪器与电子学院</option>

  <option value="8">机械工程学院</option>

  <option value="2">软件学院</option>

  <option value="9">人文社会科学学院</option>

  <option value="7">材料科学与工程学院</option>

  <option value="3">经济与管理学院</option>

  <option value="1">体育学院</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-professionalName">
            
            
                <div>
                    
                    
                        <label class="required" for="id_professionalName">报考专业名称:</label>
                        
                            <select name="professionalName" id="id_professionalName">
  <option value="2">软件工程</option>

  <option value="5">数据科学与大数据技术</option>

  <option value="3">物联网工程</option>

  <option value="0">计算机科学与技术</option>

  <option value="1">网络工程</option>

  <option value="4">数字媒体技术</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-researchDirection">
            
            
                <div>
                    
                    
                        <label class="required" for="id_researchDirection">研究方向:</label>
                        
                            <select name="researchDirection" id="id_researchDirection">
  <option value="1">虚拟仿真与可视化</option>

  <option value="3">大数据与视觉计算</option>

  <option value="2">大数据与网络安全</option>

  <option value="0">人工智能</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-examCourse">
            
            
                <div>
                    
                    
                        <label class="required" for="id_examCourse">考试科目:</label>
                        
                            <select name="examCourse" id="id_examCourse">
  <option value="0">政治 英语 专业课 数学</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-examProvince">
            
            
                <div>
                    
                    
                        <label class="required" for="id_examProvince">报考点所在省份:</label>
                        
                            <select name="examProvince" id="id_examProvince">
  <option value="4">河北省</option>

  <option value="2">陕西省</option>

  <option value="1">河南省</option>

  <option value="0">山西省</option>

  <option value="3">山东省</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-examSchool">
            
            
                <div>
                    
                    
                        <label class="required" for="id_examSchool">报考点:</label>
                        
                            <select name="examSchool" id="id_examSchool">
  <option value="3">太原理工大学</option>

  <option value="5">山西师范大学</option>

  <option value="0">中北大学</option>

  <option value="6">太原大学</option>

  <option value="1">山西财经大学</option>

  <option value="2">山西大学</option>

  <option value="4">太原工业大学</option>

</select>
                        
                    
                    
                </div>
            
        </div>
    
       <!--  <div class="form-row field-status">
            
            
                <div>
                    
                    
                        <label class="required" for="id_status">状态:</label>
                        
                            <select name="status" id="id_status">
  <option value="0" selected="">正常</option>

  <option value="1">已删除</option>

</select>
                        
                    
                    
                </div>
            
        </div> -->
</fieldset>













<div class="submit-row">
<input type="submit" value="保存" onclick="confirmSubmit(); class="default" name="_save">

    
   <!--  <p class="deletelink-box"><a href="/admin/bo/student/1/delete/" class="deletelink">删除</a></p>


<input type="submit" value="保存并增加另一个" name="_addanother">
<input type="submit" value="保存并继续编辑" name="_continue"> -->
</div>



    <script type="text/javascript" id="django-admin-form-add-constants" src="/static/admin/js/change_form.js">
    </script>




<script type="text/javascript" id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
</script>


</div>
</form></div>

        
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->



</body>
<script type="text/javascript">
     function confirmSubmit(){
            if(confirm('信息已核实无误')){
                return true;
            }
            return false;
        }
        
    //初始化input状态样式图标
    var icon = {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
    };
    //初始化验证规则
    $("#student_form").bootstrapValidator({
        feedbackIcons: icon,   //加载图标
        /* 生效规则
         * enabled:字段值发生变化就触发验证
         * disabled/submitted:点击提交时触发验证
         */
        live: 'disabled', 
        //表单域配置
        fields: {
            name: {//username为input标签name值
                validators: {
                    notEmpty: {message: '请输入用户名'},    //非空提示
                    stringLength: {    //长度限制
                          max: 50,
                          message: '用户名长度不能超过50'
                    }
                
                  
                }
            },
            name_pinyin: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'姓名拼音不能为空'
                    },
                    stringLength: {
                        max: 50,
                        message: '长度不能大于50位'
                    }
                }
            },
            zhengjian_number: {
                validators: {
                    notEmpty: {message: '请输入证件号码'}
                    // creditCard: {message: '请输入正确的证件号码'}
                }
            },   //最后一个没有逗号
            // zhaopian: {
            //     message:'',
            //     validators:{
            //         notEmpty:{
            //             message:'照片不能为空'
            //         }
            //     }
            // },
            address: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'地址不能为空'
                    },
                    stringLength: {
                        max: 150,
                        message: '长度不能大于150位'
                    }
                }
            },
            postcode: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'邮政编码不能为空'
                    },
                    stringLength: {
                        max: 10,
                        message: '长度不能大于10位'
                    }
                }
            },
            fixphone: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'固定电话不能为空'
                    },
                    stringLength: {
                        max: 7,
                        message: '长度不能大于7位'
                    }
                }
            },
            telephone: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'移动电话不能为空'
                    },
                    stringLength: {
                        max: 11,
                        message: '长度不能大于11位'
                    }
                }
            },
            email: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'电子邮箱不能为空'
                    },
                    emailAddress: {
                        message: '  请输入正确的邮箱地址'
                    }
                }
            },
            graduation_time: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'毕业时间不能为空'
                    }
                    
                }
            },
            studentId: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'注册学号不能为空'
                    },
                    number: {
                        message: '请输入数字'
                    }
                }
            },
            nativePlace: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'籍贯不能为空'
                    }
                }
            },
            registerLocation: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'户口所在地不能为空'
                    }                }
            },
            registerLocationDetail: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'详细地址不能为空'
                    }                }
            },
            bornLocation: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'出生地省市不能为空'
                    }                }
            },
            archivesLocation: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'档案所在地不能为空'
                    }                }
            },
            archivesLocationZip: {
                message:'',
                validators:{
                    notEmpty:{
                        message:'档案所在单位邮编不能为空'
                    },
                    stringLength: {
                        max: 10,
                        message: '长度不能大于10位'
                    }                }
            }

        }
    })

</script>
</html>