<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>公告</title>
<meta name="keywords" content="">
<meta name="description" content="北京市通州区人民法院司法拍卖公告（2018年4月18日10时至2018年4月19日10时止） 通州法院">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="/images/main.css" rel="stylesheet" type="text/css">
<script src="https://hm.baidu.com/hm.js?153a553841095ffaed4611c5cac27c98"></script><script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<style type="text/css">
:root .footer > #box[style="width:100%;height:100%;position:fixed;top:0"]
{ display: none !important; }</style></head>
<body>
<div id="tophead"><div class="wrapper">

<div id="lmcon">
<div class="lmcon">
<div class="border_top"></div>
<h1 style="text-align: center;">网上报名公告</h1>
<div class="concon">
<div class="text">
 　　全国硕士研究生招生考试是国家教育考试，考生在报名前应认真阅读《2018年全国硕士研究生招生工作管理规定》《2018年全国硕士研究生招生考试公告》以及省级教育招生考试机构和招生单位发布的相关招考信息。  
 <br> 
 <br> &nbsp;&nbsp;&nbsp;　遵纪守法、诚实守信是对每一位考生的基本要求。对在研究生招生考试中违反考试管理规定和考场纪律的考生，一律按《国家教育考试违规处理办法》（教育部令第33号）严肃处理。考生违规或作弊事实将记入《国家教育考试考生诚信档案》。根据《中华人民共和国刑法修正案（九）》，在法律规定的国家考试中，组织作弊的行为；为他人实施组织作弊提供作弊器材或者其他帮助的行为；为实施考试作弊行为，向他人非法出售或者提供考试的试题、答案的行为；代替他人或者让他人代替自己参加考试的行为都将触犯刑法，有关部门将依法予以严惩。  
 <br> 
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据《2018年全国硕士研究生招生工作管理规定》，所有参加研究生招生考试的考生须签署《考生诚信考试承诺书》（网上报名时点击同意后即视为认可）。请每一位考生务必认真阅读，郑重签订。  
 <br>


</div>
</div>

<script src="/e/da.php?classid=14&amp;id=27179"></script>
<p style="text-align:center; padding:10px 0;"><input type="button" name="" value="阅读完毕" onclick="window.location.href='/chengnuoshu/'"></p>
<div class="border_bottom"></div>
</div>
</div>

<script language="javascript">
function printme()
{
document.body.innerHTML=document.getElementById('lmcon').innerHTML;
document.getElementById('gongneng').innerHTML="<input type=button value=返回 onclick='history.go(0)'>"
window.print();
}
</script>
<div class="clr20"></div>



<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?153a553841095ffaed4611c5cac27c98";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script src="/e/public/onclick/?enews=donews&amp;classid=14&amp;id=27179"></script>
</body></html>