<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>研究生报名系统</title>
    <link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/js/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/static/js/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/js/morrisjs/morris.css" rel="stylesheet">
    <link href="/static/js/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.3.1/core.js"></script>

        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>
<script type="text/javascript">

   


    var toBaoMing = function(){
        $("#ifr").name="toBaoMing";
    }
        


    
</script>
<style type="text/css">
    #ifr{
        height: 100%;
        height: 600px;
    }
</style>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index1.html">研究生报名系统</a>
            </div>
                </li>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户信息</a>
                        </li> -->
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i> 研究生招生</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 网上报名<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/baoming/" target="student">网上报名</a>
                                </li>
                                <li>
                                    <a href="#" target="student">网上调剂（关闭）</a>
                                </li>
                            </ul>
                        </li>
						<li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 打印信息<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">打印准考证</a>
                                </li>
                                <li>
                                    <a href="morris.html">打印报名信息</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> 用户信息<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">修改密码</a>
                                </li>
                                <li>
                                    <a href="buttons.html">学生列表</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--主体内容编写-->
        <div id="page-wrapper">
			<iframe src="" id="ifr" width="100%" height="100%" frameborder="0" scrolling="yes" allowTransparency="true" name="student"></iframe>
            
        </div>
    </div>
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/metisMenu/metisMenu.min.js"></script>
    <script src="/static/js/raphael/raphael.min.js"></script>
    <script src="/static/js/morrisjs/morris.min.js"></script>
    <script src="/static/js/data/morris-data.js"></script>
    <script src="/static/js/dist/js/sb-admin-2.js"></script>
</body>
</html>
js